<!DOCTYPE html>
<!--修改密码界面-->
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>修改密码</title>
    <style>
        .xoxo_fn_full_page_in,
        .xoxo_fn_leftsidebar {
            width: 100%;
        }
        .screen-reader-response {
            text-align: center;
            font-size: 18px;
            font-weight: 900;
        }
    </style>
</head>
<body>
    
<!--    <form action="changePassword.php" method="post">-->
<!--        <h2>change your fxxking password!</h2>-->
<!--        <label for="username">username:</label>-->
<!--        <input type="text" name="username" required>-->
<!--        <label for="old password">old password:</label>-->
<!--        <input type="text" name="old_pass" required>-->
<!--        <label for="new password">new password:</label>-->
<!--        <input type="password" name="new_pass" required>-->

<!--        <label for="confirm Password">confirm password:</label>-->
<!--        <input type="password" name="confirm_pass" required>-->

<!--        <input type="submit" value="confirm">-->

<!--    </form>-->
<div class="xoxo_fn_full_page_in">
    <div class="xoxo_fn_hassidebar">
        <div class="container">
            <div class="sidebarpage">
                <div class="xoxo_fn_leftsidebar">
                    <div class="ls_content">
                        <div class="screen-reader-response">
                            <p role="status" aria-live="polite" aria-atomic="true">更改密码</p>
                        </div>
                        <form class="contact-form" id="contact-form" action="api/changePassword.php" method="post">
                            <div class="name-email">
                                <input type="text" name="username" placeholder="用户名" required="">
                                <input type="text" name="old_pass" placeholder="老密码" required="">
                            </div>
                            <div class="phone-topic">
                                <input type="text" name="new_pass" placeholder="新密码" required="">
                                <input type="text" name="confirm_pass" placeholder="再次输入新密码" required="">
                            </div>

                            <button type="submit" class="xoxo-btn">确认修改</button>
                        </form>
                    </div>
                </div>

            </div>
        </div>
    </div>


</div>
    
</body>
</html>

