<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>普通用户登录页面</title>

    <link rel="stylesheet" href="static/css/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="static/css/login_or_register.css">

</head>
<body id="body">

<div class="materialContainer">
    <form class="box" action="login.php" method="post" id="adminLogin">
        <div class="title">登录</div>
        <div class="input">
            <label for="name">用户名</label>
            <input type="text" name="username" id="name">
            <span class="spin"></span>
        </div>
        <div class="input">
            <label for="pass">密码</label>
            <input type="password" name="password" id="pass">
            <span class="spin"></span>
        </div>

        <div class="button login">
            <button>
                <span>登录</span>
            </button>
        </div>
        <a href="javascript:" class="pass-forgot">忘记密码？</a>
    </form>
    <div class="popup" id="popup">成功</div>

</div>

<script src="static/js/jquery.min.js"></script>
<script src="static/js/login.js"></script>

</body>
</html>
